<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Butterfly</a>
    <ul class="nav navbar-nav">
      <li>
        <%= nav_link 'Home', root_path %>
      </li>
      <li>
        <%= nav_link 'Delivery Addresses', delivery_index_path %>
      </li>
    </ul>
  </div>
</nav>
